<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>VikingDash</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
</head>

<body style="background: var(--bs-gray-800);">
    <nav class="navbar navbar-dark navbar-expand-md sticky-top navbar-shrink py-3" id="mainNav" style="z-index: 10;padding: 0px;background: var(--bs-gray-900);">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="/" style="padding: 0px;"><img width="70px" src="static/img/assets/valkyrie_onecolor_inverted.png"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="/"><strong>FRC6854 Official Panel</strong></a></li>
                    <li class="nav-item"></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container py-3">
        <div class="alert alert-primary text-center" role="alert"><span class="text-center"><strong>{{status}}</strong></span></div>
        <div class="row">
            <div class="col-md-6">
                <div class="card" style="border-width: 0px;background: var(--bs-gray);">
                    <div class="card-header" style="border-width: 0px;">
                        <h5 class="mb-0"><strong>Next Matches</strong></h5>
                    </div>
                    <div class="card-body" style="padding: 14px;">
                        {% include "index/next.jinja" %}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div></div>
                <div class="card" style="border-width: 0px;background: var(--bs-gray);">
                    <div class="card-header" style="border-width: 0px;">
                        <h5 class="mb-0"><strong>Past Matches</strong></h5>
                    </div>
                    <div class="card-body" style="padding: 14px;">
                        {% include "index/before.jinja" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="text-center" style="color: var(--bs-white);"><strong>Made by FRC6854 as part of the VikingDash software</strong><br><strong>frc6854.github.io</strong></p>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/reload.js"></script>
</body>

</html>
